# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*$py.class

# VIM
*.py.swp
*.py~
*.py.un~

# virtual environment
env/
.env

# Packaging
node_modules/

# Distribution / packaging
dist/
build/

# Editor / Os
.idea/
.vscode

# OS generated
Thumbs.db

# App
instance/
*.egg-info/
